html {
  min-width: 0;
  font-family: "Heebo", sans-serif;
  color: #333;
  background: #eee;
  padding: 10px 0;
}
body {
  margin: 0;
}
h1 {
  font-weight: 700;
  font-size: 2.4em;
  margin: 0.2em;
}
h2,
h3 {
  font-weight: 500;
  color: #4f4f4f;
  margin: 0px;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
h4,
h5 {
  font-weight: 400;
  color: #636363;
}
p {
  font-family: "Roboto", sans-serif;
  margin: 0.5em 0px 0.5em 0px;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease;
}
a:hover {
  color: #0f9ebd;
}
time {
  padding: 0em 0em 0em 0.2em;
}
/* grid */
.container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  grid-template-areas:
    "hd hd hd hd"
    "info info info info"
    "main main main main"
    "ft ft ft ft";
}
.box {
  padding: 1.2em;
}
.header {
  grid-area: hd;
}
.post-header {
  grid-area: info;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.2em;
}
.description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #828282;
  padding: 0em 0em 1.2em 0em;
}
.post {
  grid-area: main;
  padding: 0em 2em 0em 2em;
}
.foot {
  grid-area: ft;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img-1 {
  background-image: url(../img/running.jpg);
  padding-bottom: 70%;
  background-size: cover;
  background-position: center 70%;
  height: 50%;
}
#img-2 {
  background-image: url(../img/music.jpg);
  padding-bottom: 70%;
  background-size: cover;
  background-position: center 70%;
  height: 50%;
}
#img-3 {
  background-image: url(../img/programming.jpg);
  padding-bottom: 70%;
  background-size: cover;
  background-position: center 70%;
  height: 50%;
}
#img-4 {
  background-image: url(../img/burnout.jpg);
  padding-bottom: 70%;
  background-size: cover;
  background-position: center 70%;
  height: 50%;
}
#img-5 {
  background-image: url(../img/painting.jpg);
  padding-bottom: 70%;
  background-size: cover;
  background-position: center 70%;
  height: 50%;
}
/* media query */
@media (min-width: 800px) {
  .box {
    margin: 0px 150px 0px 100px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "hd hd hd hd hd hd hd hd hd hd hd hd"
      "info info info info info info info info info info info info"
      "main main main main main main main main main main main main"
      "ft ft ft ft ft ft ft ft ft ft ft ft";
  }
  #img-1,
  #img-2,
  #img-3,
  #img-4,
  #img-5 {
    padding-bottom: 38%;
  }
}
@media (min-width: 1200px) {
  .box {
    margin: 0px 350px 0px 350px;
  }
  #img-1,
  #img-2,
  #img-3,
  #img-4,
  #img-5 {
    padding-bottom: 30%;
    background-position: center 68%;
  }
}
