body {
    font-family: "Roboto", sans-serif;
    font-family: "Heebo", sans-serif;
    color: #333;
}

h3 {
    color: #4f4f4f;
}

a {
    color: #2d9cdb;
}

a:hover {
    color: #8ed0de;
}
/*grid mobile first*/
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "hd hd hd hd"
        "feat feat feat feat"
        "sd sd sd sd"
        "main main main main"
        "ft ft ft ft";
}
.header {
    grid-area: hd;
}
.feature {
    grid-area: feat;
}
.post {
    grid-area: main;
}
.sidebar {
    grid-area: sd;
}
.footer {
    grid-area: ft;
}
